*{
    color: white;
    font-family: arial;
}
body{
    background: black;
    margin: 0;
    padding: 0;
}
h1{
    display: block;
    text-align: center;
    width:100%;
}
button{
    display: block;
    background: rgb(50,50,50);
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    margin: 20px;
}